.color-nav {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #d9e3f1;
}

.Inner {
    margin: 0;
}

.menuHeader {
    font-size: x-large;
    color: black;
    /* border-radius: 100%; */
}

.menuFooter {
    background-color: #d9e3f1;
}


.menuBody {
    background-color: #d9e3f1;
}

.Navbar.Brand {
    margin-left: 1rem;
    margin-right: 1rem;

}

.loginButton {
    cursor: pointer;
}

.headerBrand {
    font-size: x-large;
    color: black;
    font-weight: 600;
}

.menuIcon:hover {
    cursor: pointer;
}

.headerDrawer {
    background-color: #d9e3f1;
}

.menuHeader {
    background-color: #d9e3f1;
    margin: 0;
}

.brand {
    color: "black";
    margin-top: auto;
    margin-bottom: auto;
}